/*
 * Copyright (C) 2011 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am3517.dtsi"

/ {
	model = "TI AM3517 NMV";
	compatible = "ti,am3517-evm", "ti,am3517", "ti,omap3";

	chosen {
		bootargs = "console=ttyO2,115200 root=/dev/nfs nfsroot=192.168.0.78:/srv/nmv/ ip=192.168.0.101:192.168.0.78:192.168.0.1:255.255.255.0:arm:eth0:off";
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x10000000>; /* 256 MB */
	};

	matrix_keypad: matrix-keypad@0 {
		compatible = "gpio-matrix-keypad";
		debounce-delay-ms = <50>;
		col-scan-delay-us = <200>;

		col-gpios = <
			&gpio6 16 0
			&gpio6 18 0>;

		row-gpios = <
			&gpio6 17 0
			&gpio4 23 0
			&gpio6 22 0>;

		linux,keymap = <
			0x0000004b /* row 0, col 0, KEY_LEFT */
			0x00010048 /* row 0, col 1, KEY_UP */
			0x0100004d /* row 1, col 0, KEY_RIGHT */
			0x01010050 /* row 1, col 1, KEY_DOWN */
			0x0200000e /* row 2, col 0, KEY_BACK */
			0x0201001c /* row 2, col 1, KEY_OK */
		>;
		gpio-activelow;
	};

	vbat: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "vbat";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-boot-on;
	};
};

&davinci_emac {
	     status = "okay";
};

&davinci_mdio {
	     status = "okay";
};

&i2c1 {
	clock-frequency = <400000>;
};

&i2c2 {
	clock-frequency = <400000>;
};

&i2c3 {
	clock-frequency = <400000>;

	tps: tps@2d {
		reg = <0x2d>;
	};
};

&mmc1 {
	vmmc-supply = <&vmmc_reg>;
	bus-width = <8>;
	pinctrl-0 = <&mmc1_pins>;
	status = "okay";
};

&mmc2 {
      status = "disabled";
};

&mmc3 {
      status = "disabled";
};

#include "tps65910.dtsi"

&omap3_pmx_core {
	pinctrl-names = "default";
	pinctrl-0 = <
		&matrix_pins
	>;

	mmc1_pins: pinmux_mmc1_pins {
		pinctrl-single,pins = <
			0x114 (PIN_OUTPUT_PULLUP | MUX_MODE0)  /* sdmmc1_clk.sdmmc1_clk */
			0x116 (PIN_INPUT | MUX_MODE0)  /* sdmmc1_cmd.sdmmc1_cmd */
			0x118 (PIN_INPUT | MUX_MODE0)  /* sdmmc1_dat0.sdmmc1_dat0 */
			0x11a (PIN_INPUT | MUX_MODE0)  /* sdmmc1_dat1.sdmmc1_dat1 */
			0x11c (PIN_INPUT | MUX_MODE0)  /* sdmmc1_dat2.sdmmc1_dat2 */
			0x11e (PIN_INPUT | MUX_MODE0)  /* sdmmc1_dat3.sdmmc1_dat3 */
			0x120 (PIN_INPUT | MUX_MODE0)  /* sdmmc1_dat4.sdmmc1_dat4 */
			0x122 (PIN_INPUT | MUX_MODE0)  /* sdmmc1_dat5.sdmmc1_dat5 */
			0x124 (PIN_INPUT | MUX_MODE0)  /* sdmmc1_dat6.sdmmc1_dat6 */
			0x126 (PIN_INPUT | MUX_MODE0)  /* sdmmc1_dat7.sdmmc1_dat7 */
		 >;
	};

	matrix_pins: pinmux_matrix_pins {
		pinctrl-single,pins = <
			0x1a2 (PIN_OUTPUT_PULLUP | MUX_MODE4)	/* col1 - gpio_176 */
			0x1a6 (PIN_OUTPUT_PULLUP | MUX_MODE4)	/* col2 - gpio_178 */
			0x1a4 (PIN_INPUT | MUX_MODE4)		/* row1 - gpio_177 */
			0x112 (PIN_INPUT | MUX_MODE4)		/* row2 - gpio_119 */
	/*		0x1ae (PIN_INPUT | MUX_MODE4)*/		/* row3 - gpio_182 */
		>;
	};

	tps_pins: pinmux_tps_pins {
		pinctrl-single,pins = <
			0x1b0 (PIN_INPUT_PULLUP | MUX_MODE0) /* sys_nirq.sys_nirq */
		>;
	};
};

&tps {
	pinctrl-names = "default";
	pinctrl-0 = <&tps_pins>;

	interrupts = <7>; /* SYS_NIRQ cascaded to intc */
	interrupt-parent = <&intc>;

	ti,en-ck32k-xtal;

	vcc1-supply = <&vbat>;
	vcc2-supply = <&vbat>;
	vcc3-supply = <&vbat>;
	vcc4-supply = <&vbat>;
	vcc5-supply = <&vbat>;
	vcc6-supply = <&vbat>;
	vcc7-supply = <&vbat>;
	vccio-supply = <&vbat>;

	regulators {
		vrtc_reg: regulator@0 {
			regulator-always-on;
		};

		vio_reg: regulator@1 {
			regulator-always-on;
		};

		/*
		 * Unused:
		 * VDIG1=2.7V,300mA max
		 * VDIG2=1.8V,300mA max
		 */

		vaux1_reg: regulator@9 {
			/* VDDS_SRAM_1V8 */
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		vpll_reg: regulator@7 {
			/* VDDS_DPLL_1V8 */
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		vaux1_reg: regulator@9 {
			/* VDDS_SRAM_1V8 */
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		/* VAUX2 unused */
		/* VDD3 unused */

		vmmc_reg: regulator@12 {
			/* VDD_eMMC */
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		vdd1_reg: regulator@2 {
			/* VDD_CORE */
			regulator-name = "vdd_core";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-boot-on;
			regulator-always-on;
		};

		vdd2_reg: regulator@3 {
			/* VDDSHV */
			regulator-name = "vdd_shv";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};
};
